<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
<meta charset="ISO-8859-1">
<title>List of Owners</title>
</head>
<body>

	<h2 th:text="#{owner.list}">Hoffe das wird nicht angezeigt.</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="width: 150px;">ID</th>
				<th style="width: 150px;">First Name</th>
				<th style="width: 150px;">Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="owner : ${owners}">
				<td th:text="${owner?.id}">1</td>
				<td th:text="${owner?.firstName}">Joe</td>
				<td th:text="${owner?.lastName}">Buck</td>
			</tr>
		</tbody>
	</table>
</body>
</html>